services:
  geonames-download:
    build: .
    container_name: geonames-download
    volumes:
      - ./data:/app/data       
      - ./output:/app/output
    environment:
      - COUNTRY_CODE
    command: ["./entrypoint-download.sh", "${COUNTRY_CODE}"]
