services:
  graphdb:
    image: ontotext/graphdb:10.8.9
    container_name: graphdb
    ports:
      - "7200:7200"
    volumes:
      - ./graphdb-data:/opt/graphdb/home

  geonames-rdf:
    build: .
    container_name: geonames-rdf
    environment:
      - GRAPHDB_HOST=graphdb
      - UPLOAD=true
    volumes:
      - ./output:/output
    depends_on:
      - graphdb
