services:
  # Download 
  geonames-download:
    build: .
    container_name: geonames-download
    volumes:
      - ./data:/app/data
      - ./output:/app/output
    environment:
      - COUNTRY_CODE
    command: ["./scripts/entrypoint-download.sh", "${COUNTRY_CODE}"]

  # Transform
  geonames-transform:
    build: .
    container_name: geonames-transform
    volumes:
      - ./data:/app/data
      - ./output:/app/output
      - ./web:/app/web
    environment:
      - COUNTRY_CODE
    command: ["./scripts/entrypoint-transform.sh", "${COUNTRY_CODE}"]

  # QEndpoint
  qendpoint:
    image: qacompany/qendpoint
    container_name: qendpoint
    ports:
      - "7300:1234"
    environment:
      - MEM_SIZE=2G
    restart: always

  # NGINX proxy
  nginx:
    image: nginx:alpine
    container_name: qendpoint-nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - qendpoint
      - geonames-web
    profiles:
      - proxy  #only start if the "proxy" profile is enabled

  # Upload
  geonames-upload:
    build: .
    container_name: geonames-upload
    environment:
      - UPLOAD_QENDPOINT=true
      - QENDPOINT_HOST=qendpoint
      - COUNTRY_CODE
    volumes:
      - ./output:/output
    depends_on:
      - qendpoint
    command: ["./scripts/entrypoint-upload.sh", "${COUNTRY_CODE}"]

  # Web frontend service
  geonames-web:
    build: ./web
    container_name: geonames-web
    restart: always
    ports:
      - "8080:80"
    volumes:
      - ./output:/usr/share/nginx/html/output
